{
  "database": {
    "host": "localhost",
    "port": 3306,
    "user": "filebunker",
    "password": "",
    "database": "metadata"
},
  "services": {
    "telegram": {
      "enabled": false,
      "api_id": "",
      "api_hash": "",
      "phone_number": ""
    },
    "mega": {
      "enabled": true,
      "email": "",
      "password": ""
    }
  }
}
