{
  "database": {
    "db_name": "metadata.db",
    "db_path": "data/metadata.db"
  },
  "services": {
    "telegram": {
      "enabled": true,
      "api_id": "asfasfasfasf",
      "api_hash": "adasdasfafa",
      "phone_number": "5540028922"
    },
    "mega": {
      "enabled": true,
      "email": "naoimporta@nao.com",
      "password": "Naoimporta123"
    }
  }
}
